Examples/Chapter 08 Web API and WCF/WebSocketsExample/WebSocketsClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LongRunningService" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_ILongRunningService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILongRunningService_DoLongRunningOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:DoLongRunningOperation" />
  </wsdl:message>
  <wsdl:message name="ILongRunningService_UpdateProgress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateProgress" />
  </wsdl:message>
  <wsdl:message name="ILongRunningService_UpdateProgress_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateProgressResponse" />
  </wsdl:message>
  <wsdl:portType name="ILongRunningService">
    <wsdl:operation name="DoLongRunningOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILongRunningService/DoLongRunningOperation"
                  message="tns:ILongRunningService_DoLongRunningOperation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProgress">
      <wsdl:output wsaw:Action="http://tempuri.org/ILongRunningService/UpdateProgress"
                   message="tns:ILongRunningService_UpdateProgress_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILongRunningService/UpdateProgressResponse"
                  message="tns:ILongRunningService_UpdateProgress_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_ILongRunningService" type="tns:ILongRunningService">
    <wsp:PolicyReference URI="#NetHttpBinding_ILongRunningService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <wsdl:operation name="DoLongRunningOperation">
      <soap12:operation soapAction="http://tempuri.org/ILongRunningService/DoLongRunningOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateProgress">
      <soap12:operation soapAction="http://tempuri.org/ILongRunningService/UpdateProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LongRunningService">
    <wsdl:port name="NetHttpBinding_ILongRunningService" binding="tns:NetHttpBinding_ILongRunningService">
      <soap12:address location="ws://localhost:8733/Design_Time_Addresses/WebSocketsExample/Service1/" />
      <wsa10:EndpointReference>
        <wsa10:Address>
          ws://localhost:8733/Design_Time_Addresses/WebSocketsExample/Service1/
        </wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>